<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each productos}}
            <li>
                {{this.nombre}} - ${{this.precio}} <br>
                <small>{{this.descripcion}}</small>
            </li>
        {{/each}}
    </ul>
    <a href="/realtimeproducts">Ver Productos en Tiempo Real</a>
</body>
</html>
